.register-card{
    background-color: #ffff;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:1px 1px 20px rgb(226, 226, 226);
    position:absolute;
    top: 40px;
    left: 35%;
    cursor: pointer;
    overflow: hidden;
}

.register-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.register-header .logo{
    width: 100%;
    height: auto;
}

.register-header .login-link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 24px;   
    position: relative;
    left: 100%;
    text-decoration: none;
}

.register-header .login-text{
    color: #00115B;
}

.register-header .register-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
    color: #00115B;
    position: relative;
    right:30%;
}

.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 270px;
    background-color: #ffffff;
    border-radius: 0px 75px 75px 0px;
    gap: 10px;
    position: relative;
    right: 12%;
    padding-top: 10px;
    opacity: 0.8;
    box-shadow: 1px 0px 1px 1px rgb(226, 226, 226);
}

.register-form .colom-cards{
    position: relative;
    bottom: -25px;
    
}

.register-form .coloms {
    width: 300px;
    margin-top: 0.2rem;
}

.icons{
    color:#dddd;
    margin-right: 20px;
}

.coloms .input-card
{
    font-size: 16px;
    border: none !important;
    outline: hidden !important;
    color: #91A2B8;
}

.register-form Button,
.register-form Button:hover,
.register-form Button:focus{
    width: 20%;
    height: 10vh;
    border-radius: 200%;
    position: relative;
    top: -24vh;
    left: 93%;
    color: #ffff;
    background: linear-gradient(90deg, #1BCACD 0%, #24E9A3 100%);
    z-index: 999;
}

@media (max-width:320px){
    .register-card{
        width: 100%;
        height: auto;
        left:-0%;
        top: -20px;
    }
    
    .register-header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register-header .logo{
        width: 60%;
        height: auto;   
        position: relative;
        bottom: -25px;       
    }

    .register-header .register-text{
        font-size: 20px;
        font-weight: 900;
        font-style: normal;
        font-family:'Times New Roman', Times, serif;
        line-height: 30px;
        color: #00115B;
        position: relative;
        right:0%;
        top: -10px;
    }

    .register-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 259px;
        height: 250px;        
        background-color: #ffff;
        position: relative;
        right: -5%;
        top: -0px; 
        opacity: 1;       
    }
     
    .register-form .colom-cards{
        position: relative;
        top: -1%;
        left: -4%;
    }
    
    .register-form .coloms{
        width: 229px;
        height: 24px;
        margin-top: 1rem;
        opacity: 1;
    }

    .coloms .input-card{
        color:#406fac;
        font-size:16px;
        font-weight: 500;        
    }

    .icons{
        color:#a8a5a5dd;
        margin-right: 20px;
    }

    .register-form Button,
    .register-form Button:hover,
    .register-form Button:focus{
        position: relative;
        top: -46%;
        left: 85%;
        width:30%;
        height: 20%;
    }

    #question{
        color:#646462d8;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        position: relative;
        top: 3px;
        left: -7%;
    }

    .register-header .login-text{
        position: relative;
        left:-230%;
        bottom: -323px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-decoration-line: underline;
        color: #24E9A3;        
    }
}