.register-card{
    background-color: #ffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:1px 1px 20px rgb(226, 226, 226);
    position:absolute;
    top: 40px;
}

.register-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.register-header .login-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #00115B;
}

