.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
    height: 90vh;
    background: #f0eaea;
    box-shadow: 0px 19px 200px  rgba(235, 229, 229, 0.09);
    position: relative;
    left: 30%;
    top:30px;
    border-radius: 20px;
}

.first-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    justify-self: auto;
    margin-top: 10%;
    flex: 0.3;

}

.gems{
    border: 1px solid transparent ;
    border-radius: 100%;
    position: relative;
    top: -5vh;
}

.first-group h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 30px;
    color: #00115B;
    position: relative;
    top: -8vh;
}



.second-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 56%;
    background: #FFFFFF;
    opacity: 0.8;
    box-shadow: 0px 19px 200px rgba(0, 0, 0, 0.09);
    border-radius: 0px 75px 75px 0px;
    position: relative;
    top: -3vh;
}

.card1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    position: relative;
    right: 10%;
    
}

#username{
    width: 30vw;
    height: 10vh;
    padding: 8px 12px;
    background-color: transparent !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 162.52%;
    text-align: center;
    color: #363232;
    background: #FFFFFF;
}

.biuser{
    position: relative;
    left: 15%;

}

.login-link{
    position: relative;
    left: 43%;
    top: -4vh;
    color: #021150;  
}

.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    position: relative;
    right: 10%;
}

#password{
    width: 30vw;
    height: 10vh;
    padding: 8px 12px;
    background-color: transparent !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 162.52%;
    text-align: center;
    color: #363333;
    margin-top: -10%;
    background: #FFFFFF;
    position: relative;
    top: -2.5vh;
}

.lock{
    position: relative;
    margin-top: -18%;
    left: 15%;
}


.third-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.forget{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #24E9A3;
    align-items: flex-start;
    
}

.third-group h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 18px;
}

.third-group h3 a{
    font-weight: 600;
}