.login-card {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    width: 40%;
    height: auto;
    background: #ffffff;
    position: relative;
    left: 30%;
    top: -20vh;
    padding: 3%;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-header img {
    width: 100%;
    height: auto;
}

.first-group h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 30px;
    color: #00115B;
    position: relative;
    top: -8vh;
}

.card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    background: #FFFFFF;
    width: 50%;
    padding: 30px;
    gap: 20px;

}

.login-text-box1,
.login-text-box1:hover,
.login-text-box1:focus {
    border: none !important;
    outline: hidden !important;
}

.login-text-box2,
.login-text-box2:hover,
.login-text-box2:focus {
    border: none !important;
    outline: hidden !important;
}

.login-btn {
    background: linear-gradient(90deg, #1BCACD 0%, #24E9A3 100%);
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63.5%;
    left: 66%;
    z-index: 999;
}

.card-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.forgot-password {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #24E9A3;
    text-decoration: none;
}

@media (max-width:330px) {
    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        background: #ffffff;
        position: relative;
        left:0%;
        top: 60px;
        padding: 1%;
        overflow: hidden;
    }

    .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: -20%;
    }
    
    .card-header img {
        width: 40%;
        height: auto;
    }
    
    .card-header .title {
        font-family: 'Times New Roman', Times, serif;
        font-style: normal;
        font-weight:900;
        line-height: 30px;
        color: #00115B;
        position: relative;
        top: -2vh;
    }

    .card-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 30vh;
        background:#ffffff;
        border-radius: 0px 75px 75px 0px;
        width:80%;
        padding-top: 0.5vh;
        gap: 0px;
        position:relative;
        top: -6vh;
    }

    .login-text-box1{
       margin-top: 4%;
    }

    .login-text-box2{
        margin-top: -8%;
    }

    .login-btn {
        background: linear-gradient(90deg, #1BCACD 0%, #24E9A3 100%);
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 32%;
        left: 82%;
        z-index: 999;
    }

    .card-links{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        position: relative;
        width: 100%;
        top: -20vh;
        left: 10%;
        gap: 20px;
    }

    .forgot-password {
        font-weight: 400;
        font-size: 17px;
        font-style: normal;
        line-height: 10px;
        color: #24E9A3;
        text-decoration: none;   
    }
    
    .register{
        color:#24E9A3;
    }
}



/* Desktop view */

@media (min-width:1100px){
    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        width: 40%;
        height: auto;
        background: #ffffff;
        box-shadow: 1px 1px 20px rgb(226, 226, 226);
        position: relative;
        left: 30%;
        top: 5vh;
        border-radius: 20px;
        padding: 3%;    
    }

    .card-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        background: #ffffff;
        box-shadow: 1px 1px 10px #ccc;
        width: 80%;
        padding: 30px;
        border-radius: 0px 75px 75px 0px;
        gap: 20px;
    
    }

    .login-btn {
        background: linear-gradient(90deg, #1BCACD 0%, #24E9A3 100%);
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.1);
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 62%;
        left: 75%;
        z-index: 999;
    }

    .card-links{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;        
        gap: 20px;
        padding-right: 17%;
    }
    
    .forgot-password {
        font-weight: 400;
        font-size: 17px;
        font-style: oblique;
        line-height: 20px;
        color: #24E9A3;
        text-decoration: none;
    }
}

